* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  height: 100px;
  width: 100vw;
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
}

.destra {
  margin: 30px;
  padding: 5px;
}

.destra > span {
  margin-right: 20px;
}

.bar {
  height: 150px;
  width: 120px;
  text-align: center;
  padding: 5px;
  display: none;
}

.bar > .active {
  display: flex;
}

ul > a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
.container-menu {
  border: solid 1px black;
}

.second-menu {
  display: block;
  flex-direction: row;
  margin-left: 100px;
  display: none;
}

.second-menu > .active {
  display: flex;
}
